$accent: #C3D500;
$accent2: #000000;
$text: #000000;
$text2: #ffffff;
$lgrey: #bbbbbb;
$dgrey: #777777;

$gutter: 15px;
$spacer: 2rem;
$padding: 10px;

$break: 60em;

.single-sem-report, .single-social-report {
  text-align: center;
  color: $text;

  .report-component {
    width: 65%;
    min-width: 300px;
    margin: $spacer auto;

    &:hover {
      .rc-content {
//        max-height: 2500px;
      }
    }

    .rc-title {
      padding: $padding;
      background-color: $accent;
      color: $text2;
    }

    .rc-full {
      margin-bottom: $spacer;
    }

    .rc-content {
      border-bottom: 1px solid $lgrey;
      margin-bottom: calc(2 * #{$spacer});
//      overflow: hidden;
//      max-height: 0px;
      transition: max-height 2s;
      -moz-transition: max-height 2s; /* Firefox 4 */
      -webkit-transition: max-height 2s; /* Safari and Chrome */
      -o-transition: max-height 2s; /* Opera */

      .rc-col {
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin-bottom: $spacer;

        &.rc-col-one {
          padding-right: $gutter;
        }

        &.rc-col-two {
          padding-left: $gutter;
          border-left: 1px solid $lgrey;
        }

        @media (max-width: $break) {
          width: 100%;

          &.rc-col-one, &.rc-col-two {
            padding: 0;
            border: none;
          }
        }
      }

      .rc-subtitle {
        font-weight: normal;
        margin: 0 0 $spacer;
        padding: 0;
      }

      .rc-heading {
        background-color: $accent2;
        color: $text2;
        padding: $padding;
        margin: 0 0 $gutter;
      }

      .rc-data {
        background-color: $dgrey;
        color: #text;
        padding: $padding;
        margin: 0 0 $spacer;

        &:last-child {
          margin-bottom: 0;
        }

        &.rc-data-accent {
          background-color: $accent;
        }

        &.rc-data-big {
          font-size: 150%;
          padding: calc(#{#padding} * 2);
        }
      }

      .rc-piegraph {
        position: relative;

        .rc-pie {
          position: absolute;
          width: 100px;
          height: 200px;
          overflow: hidden;
          left: 150px;
          -moz-transform-origin: left center;
          -ms-transform-origin: left center;
          -o-transform-origin: left center;
          -webkit-transform-origin: left center;
          transform-origin: left center;

          /*
            this is the actual visible part of the pie.
            Give it the same dimensions as the regular piece.
            Use border radius make it a half circle.
            move transform origin to the middle of the right side.
            Push it out to the left of the containing box.
          */
          &:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 200px;
            left: -100px;
            border-radius: 100px 0 0 100px;
            -moz-transform-origin: right center;
            -ms-transform-origin: right center;
            -o-transform-origin: right center;
            -webkit-transform-origin: right center;
            transform-origin: right center;

          }

          /*
            add colour to each piece.
          */
          &:nth-of-type(1):before,
          &:nth-of-type(1):after {
            background-color:blue;
          }
          &:nth-of-type(2):after,
          &:nth-of-type(2):before {
            background-color:green;
          }
          &:nth-of-type(3):after,
          &:nth-of-type(3):before {
            background-color:red;
          }
          &:nth-of-type(4):after,
          &:nth-of-type(4):before {
            background-color:orange;
          }
          /*
            unless the piece represents more than 50% of the whole chart.
            then make it a square, and ensure the transform origin is
            back in the center.

            NOTE: since this is only ever a single piece, you could
            move this to a piece specific rule and remove the extra class
          */
          &.rc-pie-big {
            width: 200px;
            height: 200px;
            left: 50px;
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            -webkit-transform-origin: center center;
            transform-origin: center center;

            /* if it's part of a big piece, bring it back into the square */
            &:before {
              left: 0px;
            }
            /*
              big pieces will also need a second semicircle, pointed in the
              opposite direction to hide the first part behind.
            */
            &:after {
              content: "";
              position: absolute;
              width: 100px;
              height: 200px;
              left: 100px;
              border-radius: 0 100px 100px 0;
            }
          }
        }


//        /*
//          now rotate each piece based on their cumulative starting
//          position
//        */
//        .pie[data-start="30"] {
//          -moz-transform: rotate(30deg); /* Firefox */
//          -ms-transform: rotate(30deg); /* IE */
//          -webkit-transform: rotate(30deg); /* Safari and Chrome */
//          -o-transform: rotate(30deg); /* Opera */
//          transform:rotate(30deg);
//        }
//        .pie[data-start="60"] {
//          -moz-transform: rotate(60deg); /* Firefox */
//          -ms-transform: rotate(60deg); /* IE */
//          -webkit-transform: rotate(60deg); /* Safari and Chrome */
//          -o-transform: rotate(60deg); /* Opera */
//          transform:rotate(60deg);
//        }
//        .pie[data-start="100"] {
//          -moz-transform: rotate(100deg); /* Firefox */
//          -ms-transform: rotate(100deg); /* IE */
//          -webkit-transform: rotate(100deg); /* Safari and Chrome */
//          -o-transform: rotate(100deg); /* Opera */
//          transform:rotate(100deg);
//        }
//        /*
//          and rotate the amount of the pie that's showing.
//
//          NOTE: add an extra degree to all but the final piece,
//          to fill in unsightly gaps.
//        */
//        .pie[data-value="30"]:BEFORE {
//          -moz-transform: rotate(31deg); /* Firefox */
//          -ms-transform: rotate(31deg); /* IE */
//          -webkit-transform: rotate(31deg); /* Safari and Chrome */
//          -o-transform: rotate(31deg); /* Opera */
//          transform:rotate(31deg);
//        }
//        .pie[data-value="40"]:BEFORE {
//          -moz-transform: rotate(41deg); /* Firefox */
//          -ms-transform: rotate(41deg); /* IE */
//          -webkit-transform: rotate(41deg); /* Safari and Chrome */
//          -o-transform: rotate(41deg); /* Opera */
//          transform:rotate(41deg);
//        }
//        .pie[data-value="260"]:BEFORE {
//          -moz-transform: rotate(260deg); /* Firefox */
//          -ms-transform: rotate(260deg); /* IE */
//          -webkit-transform: rotate(260deg); /* Safari and Chrome */
//          -o-transform: rotate(260deg); /* Opera */
//          transform:rotate(260deg);
//        }
      }

      .rc-table {
        border: none;
        border-collapse: separate;
        border-spacing: $gutter;
        padding: 0;
        margin: -$gutter;
        width:101%;
        width: -webkit-calc(#{$gutter} * 2 + 100%);
        width: -moz-calc(#{$gutter} * 2 + 100%);
        width: calc(#{$gutter} * 2 + 100%);

        td, th {
          padding: $padding;
          text-align: center;
          border: none;
          vertical-align: middle;
        }

        .rc-table-head {
          background-color: $accent2;
          color: $text2;
        }

        .rc-table-dark {
          background-color: $dgrey;
          color: $text;
        }

        .rc-table-light {
          background-color: $lgrey;
          color: $text;

          span {
            display: none;
          }
        }

        .rc-table-white {
          border-bottom: 1px solid #accent2;
        }

        .rc-table-green {
          border-bottom: 1px solid #accent2;
          background-color: $accent;
        }

        &#tbl-competitor-link-metrics {
          border-collapse: collapse;
          border-spacing: 0;
          border-left: 1px solid $accent2;
          border-right: 1px solid $accent2;
          width: 100%;
          margin: 0;
          table-layout: fixed;

          thead tr th {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          tbody tr {
            border-bottom: 1px solid $accent2;
          }
        }

        @media (max-width: $break) {
          &#tbl-facebook-top-ten-posts {
            border-spacing: 0;
            width: 100%;
            margin: 0;

            thead {
              display: none;
            }

            tr {
              position: relative;
              display: block;
              margin-bottom: $spacer;
              border-top: 1px solid $lgrey;
              padding-top: $spacer;

              &:after {
                content: "";
                display: table;
                clear: both;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }

            .rc-table-dark {
              display: block;
              padding: $padding;
            }

            .rc-table-light {
              display: block;
              float: left;
              margin-top: $gutter;
              width: 33.33333%;
              box-sizing: border-box;

              span {
                display: block;
                font-weight: bold;
                background-color: $accent2;
                color: $text2;
                margin: -$padding;
                margin-bottom: $padding;
                padding: $padding;
              }
            }
          }

          #tbl-competitor-link-metrics {
            
          }
        }
      }

      hr {
        border: 0;
        height: 1px;
        background-color: $lgrey;
        width: 100%;
        margin-bottom: $spacer;
        margin-top: 0;
      }
    }

    .rc-clear:after {
      content: "";
      display: table;
      clear: both;
    }

  }
}