.single-sem-report, .single-social-report {
  text-align: center;
  color: #000000; }
  .single-sem-report .report-component, .single-social-report .report-component {
    width: 65%;
    min-width: 300px;
    margin: 2rem auto; }
    .single-sem-report .report-component .rc-title, .single-social-report .report-component .rc-title {
      padding: 10px;
      background-color: #C3D500;
      color: #ffffff; }
    .single-sem-report .report-component .rc-full, .single-social-report .report-component .rc-full {
      margin-bottom: 2rem; }
    .single-sem-report .report-component .rc-content, .single-social-report .report-component .rc-content {
      border-bottom: 1px solid #bbbbbb;
      margin-bottom: calc(2 * 2rem);
      transition: max-height 2s;
      -moz-transition: max-height 2s;
      /* Firefox 4 */
      -webkit-transition: max-height 2s;
      /* Safari and Chrome */
      -o-transition: max-height 2s;
      /* Opera */ }
      .single-sem-report .report-component .rc-content .rc-col, .single-social-report .report-component .rc-content .rc-col {
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin-bottom: 2rem; }
        .single-sem-report .report-component .rc-content .rc-col.rc-col-one, .single-social-report .report-component .rc-content .rc-col.rc-col-one {
          padding-right: 15px; }
        .single-sem-report .report-component .rc-content .rc-col.rc-col-two, .single-social-report .report-component .rc-content .rc-col.rc-col-two {
          padding-left: 15px;
          border-left: 1px solid #bbbbbb; }
        @media (max-width: 60em) {
          .single-sem-report .report-component .rc-content .rc-col, .single-social-report .report-component .rc-content .rc-col {
            width: 100%; }
            .single-sem-report .report-component .rc-content .rc-col.rc-col-one, .single-sem-report .report-component .rc-content .rc-col.rc-col-two, .single-social-report .report-component .rc-content .rc-col.rc-col-one, .single-social-report .report-component .rc-content .rc-col.rc-col-two {
              padding: 0;
              border: none; } }
      .single-sem-report .report-component .rc-content .rc-subtitle, .single-social-report .report-component .rc-content .rc-subtitle {
        font-weight: normal;
        margin: 0 0 2rem;
        padding: 0; }
      .single-sem-report .report-component .rc-content .rc-heading, .single-social-report .report-component .rc-content .rc-heading {
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
        margin: 0 0 15px; }
      .single-sem-report .report-component .rc-content .rc-data, .single-social-report .report-component .rc-content .rc-data {
        background-color: #777777;
        color: #text;
        padding: 10px;
        margin: 0 0 2rem; }
        .single-sem-report .report-component .rc-content .rc-data:last-child, .single-social-report .report-component .rc-content .rc-data:last-child {
          margin-bottom: 0; }
        .single-sem-report .report-component .rc-content .rc-data.rc-data-accent, .single-social-report .report-component .rc-content .rc-data.rc-data-accent {
          background-color: #C3D500; }
        .single-sem-report .report-component .rc-content .rc-data.rc-data-big, .single-social-report .report-component .rc-content .rc-data.rc-data-big {
          font-size: 150%;
          padding: calc(#padding * 2); }
      .single-sem-report .report-component .rc-content .rc-piegraph, .single-social-report .report-component .rc-content .rc-piegraph {
        position: relative; }
        .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie {
          position: absolute;
          width: 100px;
          height: 200px;
          overflow: hidden;
          left: 150px;
          -moz-transform-origin: left center;
          -ms-transform-origin: left center;
          -o-transform-origin: left center;
          -webkit-transform-origin: left center;
          transform-origin: left center;
          /*
            this is the actual visible part of the pie.
            Give it the same dimensions as the regular piece.
            Use border radius make it a half circle.
            move transform origin to the middle of the right side.
            Push it out to the left of the containing box.
          */
          /*
            add colour to each piece.
          */
          /*
            unless the piece represents more than 50% of the whole chart.
            then make it a square, and ensure the transform origin is
            back in the center.

            NOTE: since this is only ever a single piece, you could
            move this to a piece specific rule and remove the extra class
          */ }
          .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:before, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 200px;
            left: -100px;
            border-radius: 100px 0 0 100px;
            -moz-transform-origin: right center;
            -ms-transform-origin: right center;
            -o-transform-origin: right center;
            -webkit-transform-origin: right center;
            transform-origin: right center; }
          .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(1):before, .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(1):after, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(1):before, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(1):after {
            background-color: blue; }
          .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(2):after, .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(2):before, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(2):after, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(2):before {
            background-color: green; }
          .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(3):after, .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(3):before, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(3):after, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(3):before {
            background-color: red; }
          .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(4):after, .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(4):before, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(4):after, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie:nth-of-type(4):before {
            background-color: orange; }
          .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie.rc-pie-big, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie.rc-pie-big {
            width: 200px;
            height: 200px;
            left: 50px;
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            /* if it's part of a big piece, bring it back into the square */
            /*
              big pieces will also need a second semicircle, pointed in the
              opposite direction to hide the first part behind.
            */ }
            .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie.rc-pie-big:before, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie.rc-pie-big:before {
              left: 0px; }
            .single-sem-report .report-component .rc-content .rc-piegraph .rc-pie.rc-pie-big:after, .single-social-report .report-component .rc-content .rc-piegraph .rc-pie.rc-pie-big:after {
              content: "";
              position: absolute;
              width: 100px;
              height: 200px;
              left: 100px;
              border-radius: 0 100px 100px 0; }
      .single-sem-report .report-component .rc-content .rc-table, .single-social-report .report-component .rc-content .rc-table {
        border: none;
        border-collapse: separate;
        border-spacing: 15px;
        padding: 0;
        margin: -15px;
        width: 101%;
        width: -webkit-calc(15px * 2 + 100%);
        width: -moz-calc(15px * 2 + 100%);
        width: calc(15px * 2 + 100%); }
        .single-sem-report .report-component .rc-content .rc-table td, .single-sem-report .report-component .rc-content .rc-table th, .single-social-report .report-component .rc-content .rc-table td, .single-social-report .report-component .rc-content .rc-table th {
          padding: 10px;
          text-align: center;
          border: none;
          vertical-align: middle; }
        .single-sem-report .report-component .rc-content .rc-table .rc-table-head, .single-social-report .report-component .rc-content .rc-table .rc-table-head {
          background-color: #000000;
          color: #ffffff; }
        .single-sem-report .report-component .rc-content .rc-table .rc-table-dark, .single-social-report .report-component .rc-content .rc-table .rc-table-dark {
          background-color: #777777;
          color: #000000; }
        .single-sem-report .report-component .rc-content .rc-table .rc-table-light, .single-social-report .report-component .rc-content .rc-table .rc-table-light {
          background-color: #bbbbbb;
          color: #000000; }
          .single-sem-report .report-component .rc-content .rc-table .rc-table-light span, .single-social-report .report-component .rc-content .rc-table .rc-table-light span {
            display: none; }
        .single-sem-report .report-component .rc-content .rc-table .rc-table-white, .single-social-report .report-component .rc-content .rc-table .rc-table-white {
          border-bottom: 1px solid #accent2; }
        .single-sem-report .report-component .rc-content .rc-table .rc-table-green, .single-social-report .report-component .rc-content .rc-table .rc-table-green {
          border-bottom: 1px solid #accent2;
          background-color: #C3D500; }
        .single-sem-report .report-component .rc-content .rc-table#tbl-competitor-link-metrics, .single-social-report .report-component .rc-content .rc-table#tbl-competitor-link-metrics {
          border-collapse: collapse;
          border-spacing: 0;
          border-left: 1px solid #000000;
          border-right: 1px solid #000000;
          width: 100%;
          margin: 0;
          table-layout: fixed; }
          .single-sem-report .report-component .rc-content .rc-table#tbl-competitor-link-metrics thead tr th, .single-social-report .report-component .rc-content .rc-table#tbl-competitor-link-metrics thead tr th {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .single-sem-report .report-component .rc-content .rc-table#tbl-competitor-link-metrics tbody tr, .single-social-report .report-component .rc-content .rc-table#tbl-competitor-link-metrics tbody tr {
            border-bottom: 1px solid #000000; }
        @media (max-width: 60em) {
          .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts {
            border-spacing: 0;
            width: 100%;
            margin: 0; }
            .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts thead, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts thead {
              display: none; }
            .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts tr, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts tr {
              position: relative;
              display: block;
              margin-bottom: 2rem;
              border-top: 1px solid #bbbbbb;
              padding-top: 2rem; }
              .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts tr:after, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts tr:after {
                content: "";
                display: table;
                clear: both; }
              .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts tr:last-child, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts tr:last-child {
                margin-bottom: 0; }
            .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts .rc-table-dark, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts .rc-table-dark {
              display: block;
              padding: 10px; }
            .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts .rc-table-light, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts .rc-table-light {
              display: block;
              float: left;
              margin-top: 15px;
              width: 33.33333%;
              box-sizing: border-box; }
              .single-sem-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts .rc-table-light span, .single-social-report .report-component .rc-content .rc-table#tbl-facebook-top-ten-posts .rc-table-light span {
                display: block;
                font-weight: bold;
                background-color: #000000;
                color: #ffffff;
                margin: -10px;
                margin-bottom: 10px;
                padding: 10px; } }
      .single-sem-report .report-component .rc-content hr, .single-social-report .report-component .rc-content hr {
        border: 0;
        height: 1px;
        background-color: #bbbbbb;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 0; }
    .single-sem-report .report-component .rc-clear:after, .single-social-report .report-component .rc-clear:after {
      content: "";
      display: table;
      clear: both; }

/*# sourceMappingURL=reports.css.map */
